@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    --main-color : #FF9900;
    --background-color: white; 
    --shadow: rgba(0, 0, 0, 0.3 );
    --box-shadow:rgba(0, 0, 0, 0.5 );
    --secondary-color: #D9D9D9;
    --main-color-50:rgba(255, 153, 0, 0.5);
}

html{
    scroll-behavior: smooth ;  
    overflow-x: hidden;
}
body{
    background-color: var(--background-color);
    font-family: 'Montserrat';
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: rgb(48, 48, 48);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

/***** Animation on load *****/
@media(prefers-reduced-motion){
    .show{
        animation: none;
    }
}
.hidden:not(.show){
    visibility:hidden;
}
.show{
    visibility:visible;
}

.show.fadeInLeft{
    animation: fadeInLeft 1s;
}

.show.fadeInRight{
    animation: fadeInRight 1s;
}

.show.fadeInUp{
    animation: fadeInUp 1s;
}

.show.fadeInDown{
    animation:fadeInDown 1s;
}


.delay-1{
    animation-delay:200ms !important;
}

.delay-2{
    animation-delay: 400ms !important;
}
/***** End Animation on load *****/
/***** Multipurpose *****/

.hover-line-item .line{
    margin-right: 1rem;
    margin-inline:0px;
    margin-right: 100%;
    height: 5px;
    background-color: var(--main-color);

}
.text-hover-line{
    text-shadow: 1px 1px 10px black;
    cursor: pointer;
}

.hover-line-item:hover .text-hover-line{
    text-shadow: none !important;
}
.hover-line-item:hover .line{
    animation: hover-line .5s ease-in-out 0s 1 forwards;
}



@keyframes hover-line {
    0%{
        margin-right: 100%;
    }

    100%{
        margin-right: 0%;
    }
    
}

.section{
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bg-second{
    background-color: var(--secondary-color);
}
.button-bordered{
    border-color: var(--main-color);
    border-style:solid;
    background-color: var(--background-color);
}

.button-bordered:hover{
    background-color: var(--main-color);
    box-shadow: 1px 1px 1px black;
    transition: all 50ms ease-in-out;
}

.button-bordered:active{
    box-shadow:none;
    transform: translate(1px , 1px);
}

.button-simple{
    padding: 1rem;
    border: none;
    background-color: var(--main-color);
    opacity: 0.9;
}

.button-simple:hover{
    transition: all 50ms ease-in-out;
    opacity: 1;
}

.button-simple:active{
    transform: translate(0px , 1px);
}

.section-heading-wrapper{
    display: flex;
    padding : 1rem;  
    margin: 1rem;
}

.section-heading-wrapper > .line{
    margin-right: 1rem;
    width: 5px;
    height: 50px;
    background-color: var(--main-color);

}
.section-heading-wrapper{
    padding-left: 0px;
    margin-left: 0px;
}

/***** End Multipurpose *****/

/***** Banner *****/
.banner{
    background-color: var(--main-color);
}



.social-icons .fa{
    color: black;
    text-decoration: none;
    margin-inline: .5rem;
}

/***** End Banner *****/

/***** Navbar *****/

.navbar-brand > img{
    width: 6rem;
}
.navbar-nav .active  {
    color: var(--main-color ) !important;
    font-weight: 600;
}


.navbar-nav .nav-item:hover:not(.active):not(.button){
    text-decoration: underline var(--main-color) 2px; 
    font-weight: 600;

}

.dropdown-toggle:hover .dropdown-menu{
    display: inline !important;
}

.dropdown-toggle::after{
    content: '\f078' !important;
    font: normal normal normal 10px/1 FontAwesome;
    border-top:none !important ;
}

.dropdown-menu{
    border: white;
}

/***** End Navbar *****/

/***** Header Carousel *****/

.dropdown-menu{
    border-radius: 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
}

.testimonials .carousel-inner img ,  .Header .carousel-item img{
    height:360px;
    object-fit: cover;
    width: 100%;
}

.carousel-caption {
    text-shadow: 1px 1px 10px black;  
}

.Header .carousel-indicators{
    justify-content: start ;
}

.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
} 

.Carousel .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-down{
    right: 0;
    bottom: 0;
    left: 0;
    animation: slideOutDown 1s infinite alternate;
    cursor: pointer;
}

.carousel-caption a{
    color: white;
    text-decoration: none;
}
/***** End Header Carousel *****/

/***** Gallery *****/

.Gallery .grid.wrapper{
    display: grid;
    grid-template-columns: 2fr , 1fr , 1fr;
    grid-template-rows: 2fr, 1fr, 1fr;
    grid-template-areas: "Content1 Content3 Content2"
                         "Content1 Content4 Content4";
    gap: .5em;  

}

.grid.wrapper .grid-item{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:normal;
    
}
.grid.wrapper .grid-item .text-hover-line{
    margin: auto;
    color:white;
}

.grid.wrapper .grid-item:hover{
    box-shadow: 1px 1px 10px var(--shadow);
    background-image: linear-gradient(to top , transparent , black) ;
}


.grid.wrapper .grid-item:nth-child(1){
    height: 30rem;
    background-image: url(./Images/Places/usa-liberty.jpg);
    grid-area: Content1;
}
.grid.wrapper .grid-item:nth-child(1):hover{
    background-image: linear-gradient(to bottom , transparent , black) ,  url(./Images/Places/usa-liberty.jpg) ;
}

.grid.wrapper .grid-item:nth-child(2){
    background-image: url(./Images/Places/europe-netherlands.jpg);
    grid-area: Content2;
}
.grid.wrapper .grid-item:nth-child(2):hover{
    background-image: linear-gradient(to bottom , transparent , black) ,  url(./Images/Places/europe-netherlands.jpg) ;
}
.grid.wrapper .grid-item:nth-child(3){
    background-image: url(./Images/Places/china.jpg);
    grid-area: Content3;
}
.grid.wrapper .grid-item:nth-child(3):hover{
    background-image: linear-gradient(to bottom , transparent , black) ,  url(./Images/Places/china.jpg) ;
}
.grid.wrapper .grid-item:nth-child(4){
    background-image: url(./Images/Places/egypt-giza.jpg);
    grid-area: Content4;
}
.grid.wrapper .grid-item:nth-child(4):hover{
    background-image: linear-gradient(to bottom , transparent , black) ,  url(./Images/Places/egypt-giza.jpg) ;
}

@media (max-width : 600px) {
    .grid.wrapper{
        grid-template-areas: "Content1"
                             "Content2"
                             "Content3"
                             "Content4" !important;
    }
    .grid.wrapper .grid-item{
        height: 20rem;
    }
}

/***** End Gallery *****/

/***** Customer Service *****/
.customer-support{
    position: relative;
}
.persons-images .img-wrapper img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    filter:grayscale(100%);
    box-shadow: 1px 1px 10px var(--shadow);
    object-fit: cover;
}

.persons-images .img-wrapper:nth-child(1){
    left: 0px;
}
.persons-images .img-wrapper:nth-child(2){
    left:  60px;
}
.persons-images .img-wrapper:nth-child(3){
   left :120px;
}
.persons-images .img-wrapper:nth-child(4){
    left: 180px;
}
.persons-images{
    height: 130px;
}

.r-wrapper{
    left: 35%;
}

@media (max-width:500px) {
    .r-wrapper{
        left:0%;
    }
}
.customer-support .image-wrapper img{
    position: absolute;
    width:inherit;
    height: 100px;
    opacity: 0.5;
    bottom: 0;
    animation: train-anim 10s infinite;
}


@keyframes train-anim {

    0%{
        left: 0%;
    }

    100%{
        left: 100%;
    }
    
}
/***** End Customer Service *****/

/***** testimonials *****/

.testimonials .carousel-item.active{
    display: flex;
    justify-content: center;
    padding: auto;
}

.testimonials .carousel-caption{
    position:initial;
    margin-top: auto;
    margin-bottom: auto;
    padding-top:  3rem;

}

.testimonials .carousel-caption h5{
    padding-inline:10rem;
    margin: auto;
    text-align: center;
    text-shadow: none;
    color: black;
    font-weight:300;
}
.testimonials .carousel-caption h4{
    color: black;
    margin: 1rem;
    font-weight:normal;
    text-shadow: none;
}
.testimonials .carousel-caption .tour-name{
    color: var(--main-color);
    margin: 1rem;
    font-weight:normal;
}
@media (max-width:600px) {
    .testimonials .carousel-caption h5{
        padding-inline: 1rem;
    }
    .testimonials .carousel-caption .tour-name{

        text-shadow: 1px 1px 10px var(--shadow);
    }
}
.testimonials .carousel-inner{
    background-image: url(./Images/Places/mountains.jpg), linear-gradient(to top, transparent 1%, var(--background-color) 80%); 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
    background-blend-mode: color;
    
}

.testimonials .carousel-control-prev .fa, .testimonials .carousel-control-next .fa{
    color: var(--main-color) !important;
    font-size: 50px;
    opacity: 0.7;
}
.testimonials .carousel-control-prev .fa:hover, .testimonials .carousel-control-next .fa:hover{
    opacity: 1;
}
/***** End testimonials *****/

/***** Qualities *****/
.Qualities img{
    margin: 1rem;
    width:70px;
    height: inherit;
}
.Qualities .item:hover h5{
    color: var(--main-color);
}

.Qualities .item:hover img{
    scale: 1.2;
}
.Qualities .text-wrapper h5{
    font-weight: 600;
}

/***** End Qualities *****/


/***** Points *****/

.points .sub-image img{
    width: 20rem;
    height: inherit;
}

.points .offering-points li{
    list-style-type:none;   
    margin-top: .5em;
    margin-bottom: .5em;
}

.offering-points div{
    display: flex;
    flex-direction: row;
}
.points .offering-points li:hover{
    color: var(--main-color);
}
.points .offering-points .fa{
    color: var(--main-color);
    padding: 1rem ;
    padding-inline: .5rem;
    

}

.points .column-wrapper .grid-item{
    margin-inline: 2rem;
    margin: .5rem;
    padding: 1rem;
    height: 15rem;
    width:auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.points .column-wrapper .grid-item:hover{
    box-shadow: 1px 1px 10px var(--box-shadow);
    background-position: center;
    background-size: cover;
}
.points .column-wrapper .grid-item:nth-child(1){
    background-image: url(./Images/Places/hiking-mountains.jpg);
} 
.points .column-wrapper .grid-item:nth-child(1):hover{
    background-image: linear-gradient( to bottom , transparent , black) ,  url(./Images/Places/hiking-mountains.jpg) ;
}
.points .column-wrapper .grid-item:nth-child(2){
    background-image: url(./Images/Places/urban-city.jpg);
}
.points .column-wrapper .grid-item:nth-child(2):hover{
    background-image: linear-gradient( to bottom , transparent , black) ,  url(./Images/Places/urban-city.jpg) ;
}


/***** End Points  *****/  

/***** Newsletter *****/

.newsletter{
    position: relative;
}
.newsletter .email-form{
    padding:1rem;
    border: white;
    border-radius:0px;
}

.newsletter .button-simple{
    padding: .5rem;
}

.newsletter .image-wrapper img{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    animation: plane-anim 10s forwards infinite;
    rotate: -20deg;
}

@keyframes plane-anim {
    0%{
        top:70%;
        left: 0%;
    }

    100%{
        top: 0%;
        left: 100%;
    }
}
/***** End Newsletter *****/

/***** carousel-1 *****/
.carousel-stage{
    overflow: hidden;
}
.owl-one .item{
    background-color: #FF9900;
    height: 25rem;
    margin: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.owl-one .item .text-wrapper{
    margin: auto 0 ;
    padding: 1rem;
}

.owl-one .item:hover{
    box-shadow: 1px 1px 10px var(--box-shadow);
}

.owl-one .item:hover  .text-wrapper{
    margin: auto !important;
}

.owl-one .item{
    background-size: 0% , cover;
}
.owl-one .item:hover{
    background-size: cover, cover;
}
.owl-one .item.one{
    background-image:  linear-gradient(to bottom, transparent , black) , url(./Images/Places/india-tajmahal.jpg);
}
.owl-one .item.two{
    background-image: linear-gradient(to bottom, transparent , black) ,  url(./Images/Places/turkey-hagia-sophia.jpg);
}
.owl-one .item.three{
    background-image: linear-gradient(to bottom, transparent , black) ,  url(./Images/Places/big-ben.jpg);
}
.owl-one .item.four{
    background-image: linear-gradient(to bottom, transparent , black) ,  url(./Images/Places/Hawaii.jpg);
}

.owl-nav{
    display: flex;
    justify-content: center;
}
.owl-carousel .owl-nav .owl-prev  , .owl-next{
    border: 2px solid var(--main-color) !important;
    margin: 1rem  !important;
    width: 60px;
    height: fit-content;
    opacity: 0.9 !important;
    width: 4.5rem !important;
    padding-bottom: .5em !important;
}

.owl-nav span{
    font-size: 40px;
    color:var(--main-color);
} 


.owl-next:hover ,.owl-prev:hover{
    background-color: var(--main-color) !important;
    transition: all 50ms ease-in-out;
    opacity: 1 !important;
    box-shadow: 1px 1px 5px var(--box-shadow);
}

.owl-next:hover span ,.owl-prev:hover  span{
    color: white !important;
}
.owl-next:active , .owl-prev:active{
    transform: translate(0px , 1px);
    box-shadow: none;
}


/***** End carousel-1 *****/


/***** footer *****/
.footer{
    position: relative;
    overflow: hidden;
}
.footer .website-title , .footer .social-icons .fa{
    color:var(--main-color) !important;
}

.footer li{ 
    padding: .5rem;
    list-style: none outside;
}

.footer ul{
    padding-left:0px;
}
.footer li:hover{
    color: var(--main-color);
}

.footer .anim{
    position: absolute;
    filter:invert(100%) ;
    opacity: 0.3;
    z-index: 100;
    width: 100px;
}

.footer .cloud-1{
    bottom: 50%;
    animation: cloud 10s infinite forwards;
}
.footer .cloud-2{
    animation: cloud 10s infinite reverse;
}

.footer .ballon{
    width: 200px;
    animation: ballon 20s  infinite forwards ;
}

@keyframes ballon {
    0%{
        top: 100%;
    }

    100%{
        top: 0%;
    }
}

@keyframes cloud {
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}

.anim-holder{
    overflow: hidden;
}

.form-control:focus{
    box-shadow: 0 0 0 .25rem var(--main-color-50);
}
/***** End footer *****/
@media screen and (width >= 768px){
    .Header .carousel-item img{
        height:500px;
        object-fit: cover;
    }
}

